* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Amiko;
}

#app {
    min-height: 100vh;
}

@font-face {
    font-family: Amiko;
    src: url("../assets/fonts/Amiko-Regular.ttf");
}

@font-face {
    font-family: Amaranth;
    src: url("../assets/fonts/Amaranth-Regular.ttf");
}

@font-face {
    font-family: Amaranth-Bold;
    src: url("../assets/fonts/Amaranth-Bold.ttf");
}
